@import '../../_partial'

:host
    display: fixed
    width: 100vh
    height: 100vh
    background-color: map-get($colors,"mainBlack")
    display: flex
    justify-content: center
    align-items: center
