$colors: ("mainGreen" : rgb(52, 235, 164),"mainYellow": rgb(237, 202, 28))

@mixin invalidInputField()
   border: 2px solid #ff4e11

@mixin contentContainer()
    background: rgba(33,37,41,0.7)
    border-top-left-radius: 25px
    border-bottom-right-radius: 25px
    box-shadow: 0 0 10px map-get($colors,"mainGreen")
    color: map-get($colors,"mainGreen" )

@mixin header
    letter-spacing: 0.25rem
    border-bottom: 1px solid map-get($colors,"mainGreen")