@model IQueryable<CinemaPlanet.Domain.Core.DomainModels.Movie>
@{
    ViewBag.Title = "Home Page";
}

<h2>Index</h2>

<ul>
    @foreach (var movie in Model)
    {
        <li>@movie.Name</li>
    }
</ul>

@section Scripts
{
    <script>
        console.log($);
    </script>
}
