@model List<CinemaPlanet.Domain.Core.DomainModels.Movie>

@{
    ViewBag.Title = "Home Page";
}

<div class="container col-11 col-sm-10 mt-3 p-3">
    <h1 id="mainHeader" class="text-warning text-center display-4">Order your <i class="fas fa-chair"></i></h1> 
    <div class="searching-bar mt-4">Seraching Bar</div>
    <div class="movies-container"></div> 
</div>


@section Scripts
{
    <script>

    </script>
}
