@model IEnumerable<CinemaPlanet.Domain.Core.DomainModels.User>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HeaderText = "Customers List";
    ViewBag.TargetAction = "Sessions";
    ViewBag.TargetController = "Admin";
}

@section AddToHead
    {
    <link rel="stylesheet" href="~/Content/CustomStyles/admin/customers.css" />
}

<table class="text-warning mx-auto">
    <thead>
        <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>Age</th>
            <th>Overall Orders</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@(DateTime.Now.Year - user.BirthDate.Year)</td>
                <td>@user.Orders.Count</td>
            </tr>
        }
    </tbody>
</table>




