@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var markup = "Overall Statistics <span class=\"date-text text-warning\">as of " + DateTime.Now.ToString("dd.MM.yyyy") + "</span>";
    ViewBag.HeaderText = new HtmlString(markup);
}

@section AddToHead
    {
    <link rel="stylesheet" href="~/Content/CustomStyles/admin/index.css">
}

<div class="statistics-container mx-auto col-12 col-sm-10 col-md-8 w-auto">
    @foreach (var p in ViewData.ModelMetadata.Properties)
    {
        <div class="text-warning h5 mx-md-auto">Total @p.PropertyName:</div>
        <div class="mx-auto d-flex justify-content-center align-items-center data-container bg-warning border-success rounded">
            <span class="text-success">@p.Model</span>
        </div>
    }
</div>






