@using System.Web.Optimization

@model CinemaPlanet.WebUI.ViewModels.AdminIndexViewModel

@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var markup = "Overall Statistics <span class=\"date-text text-warning\">as of " + DateTime.Now.ToString("dd.MM.yyyy") + "</span>";
    ViewBag.HeaderText = new HtmlString(markup);
}

@section AddToHead
    {
    <link rel="stylesheet" href="~/Content/CustomStyles/admin/index.css">
}

<div class="statistics-container">
    @foreach (var p in ViewData.ModelMetadata.Properties)
    {
        <div>
            <span class="text-warning">Total @p.PropertyName:</span>
            <div class="d-inline-block ml-3 px-3 bg-warning border-success rounded">
                <span class="text-success">@p.Model</span>
            </div>
        </div>
    }
</div>






