@using System.Web.Optimization
@model CinemaPlanet.WebUI.ViewModels.AdminMovieSessionsViewModel

@{
    ViewBag.Title = "Sessions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HeaderText = "Sessions Manager";
}

@section AddToHead
{
    <link rel="stylesheet" href="~/Content/CustomStyles/admin/navTabs.css" />
}

@Html.Action("NavTabsContent", "Navigation", new { callingAction = String.Empty })

<div class="tab-content mt-3" id="managerTabContent">
    <div class="tab-pane fade show active col-12 col-sm-10 col-md-6 mx-auto mt-4" id="listContent" role="tabpanel" aria-labelledby="list-tab">
        @Html.Partial("_MovieSessionForm", Model, new ViewDataDictionary { { "Section", "Search" } })
    </div>

    <div class="tab-pane fade col-12 col-sm-10 col-md-6 mx-auto mt-4" id="createContent" role="tabpanel" aria-labelledby="create-tab">
        @Html.Partial("_MovieSessionForm", Model, new ViewDataDictionary { { "Section", "Create" } })
    </div>
</div>

@section Scripts
{
    <script>
        $('document').ready(() => {
            const searchDateInput = $('#MovieSession_SessionDate')[0];
            $('#anyDateChck').click((e) => {
                if (e.target.checked) {
                    $(searchDateInput).val(null);
                    $(searchDateInput).attr('disabled', 'true');
                }
                else
                {
                    const dateVal = new Date(Date.now());
                    dateVal.setDate(dateVal.getDate() + 1);
                    $(searchDateInput).val(dateVal.toISOString().split('T')[0]);
                    $(searchDateInput).attr('disabled', null);
                }
            });
        });
    </script>
}





