<ul class="nav nav-tabs ml-2" id="managerTab" role="tablist">
    <li id="listTab" class="nav-item">
        <a class="nav-link active" id="list-tab" data-toggle="tab" href="#listContent" role="tab" aria-controls="listConent" aria-selected="true">@ViewBag.CallingAction List</a>
    </li>
    <li id="createTab" class="nav-item">
        <a class="nav-link" id="create-tab" data-toggle="tab" href="#createContent" role="tab" aria-controls="createContent" aria-selected="false">Add New</a>
    </li>
</ul>
