<nav class="navbar navbar-dark navbar-expand-md bg-dark">
    <a class="navbar-brand text-warning" href="@Url.Action("Index","Home")">
        <i class="fas fa-film mr-2"></i>
        Cinema Planet
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navContent" class="collapse navbar-collapse justify-content-end pr-3">
        <ul class="nav navbar-nav">
            @if (User.IsInRole("User"))
            {
                <li class="nav-item nav-link text-warning d-none d-md-inline">
                    Hello <strong>@User.Identity.Name </strong> !
                </li>
                <li class="nav-item">
                    @Html.ActionLink("My Orders", "Orders", null, new { @class = "nav-link" })
                </li>
            }

            <li class="nav-item">
                @Html.ActionLink("Log out", "Signout", "Login", null, new { @class = "nav-link" })
            </li>
        </ul>
    </div>
</nav>
