<li class="nav-item nav-link text-warning d-none d-md-inline">
    Hello <strong>@User.Identity.Name </strong> !
</li>
<li class="nav-item">
    @Html.ActionLink("My Orders", "Orders", "User", null, new { @class = "nav-link" })
</li>
