@import '../../../_partial'

:host
  display: block
  background-color: map-get($colors,"mainGreen" )
  margin: 0.8rem
  padding: 0.5rem

.img-container
        width: 10rem
        height: 6rem
        background-size: cover