html, body {
    min-height: 100vh;
}

body {
    background-image: url("../../Content/Images/userBackground.jfif");
    background-size: cover;
}

.navbar {
    box-shadow: 0 0 4px black;
}

.container {
    background-color: rgba(52,58,64,0.7);
}

#mainHeader {
    font-size: clamp(1.5rem,7vw,3.5rem);
}

.searching-bar {
    background-color: antiquewhite
}

.text-success {
    color: rgba(52,58,64,1) !important;
}

.form-control.input-validation-error {
    border: 3px solid #DC3545;
    box-shadow : none !important;
}

.back-link-icon {
    width: fit-content;
}

.fas.fa-arrow-circle-left {
    display:inline-block;
    font-size: clamp(1.5rem,7vw,3rem);
}

.back-link-text {
    font-size: clamp(0.8rem,1.5vw,1rem);
}
