.statistics-container {
    width: 25rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 2.5rem;
}

.statistics-container span {
    font-size: clamp(1rem,4vw,1.7rem);
}

.data-container {
    width: fit-content;
    max-height: 2.5rem;
    padding: 0 1rem;
}

.date-text {
    font-size: clamp(0.9rem,3.5vw,1.5rem);
    white-space: nowrap;
}
