@import "../../_partial"

$mainGreen: map-get($colors,"mainGreen")
$mainYellow: map-get($colors,"mainYellow")

:host
    display: block
    height: 100vh
    background-image: url("../../../assets/images/loginBackground.jpeg")
    background-position: -600px -500px
    @media screen and ( max-width:500px  )
        background-position-x: -880px
        
.form-container
    background: rgba(1,23,82,0.5)
    position: relative

    form
        label
            color: white

        .change-mode-link
            cursor: pointer
            &:hover
                color: $mainGreen !important

        .ng-invalid.ng-touched
            @include invalidInputField()
            
        .error-message-container
            line-height: 1rem

        #btnSubmit.btn-outline-success
            color: $mainGreen !important
            border-color: $mainGreen !important
            &:hover            
                color: #fff !important
                background-color: $mainGreen

        #btnReset
            border-color: $mainYellow !important
            color: $mainYellow !important
            &:hover
                color: #000 !important
                background-color: $mainYellow
   
    .spinner-container
        height: 100%
        width: 100%
        position: absolute
        left:0 
        top: 0
