:host
    display: block
    height: 100vh
    background-image: url("../../../assets/images/loginBackground.jpeg")
    background-position: -600px -500px
    @media screen and ( max-width:500px  )
        background-position-x: -880px
        
.form-container
    background: rgba(1,23,82,0.5)

    form
        label
            color: white

        .change-mode-link
            cursor: pointer
            &:hover
                color: rgb(52, 235, 164) !important


  