@import '../../../_partial'

$mainGreeen: map-get($colors,"mainGreen")

input[type="submit"] 
    @include successBtn
    
loading-spinner
    position: fixed
    width: 100vw
    height: 100vh
    top: 0 
    left: 0