@import '../../_partial'

:host
  display: block
  width: 2.3rem
  height: 2.3rem
  background: rgba(255,255, 255,0.75 )
  box-shadow: 0 0 3px 2px #31312f
  border-radius: 50%
  cursor: pointer
  transition: background-color 0.2s 0s linear
  display: flex
  justify-content: center
  align-items: center

  &:hover
    background-color: #343a40

    i
      color: map-get($colors,"mainGreen")
      transition: color 0.2s 0s linear
