<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- name field -->
  <div class="form-group">
    <label for="name" class="form-label">Movie Name</label>
    <input id="name" type="text" class="form-control" formControlName="name" />
    <div
      class="error-message-container text-danger"
      *ngIf="
        !form.controls.name.valid &&
        (form.controls.name.touched || isFormSubmitted)
      "
    >
      <small>Movie name is required.</small>
    </div>
  </div>

  <!-- image url field -->
  <div class="form-group">
    <label for="imageUrl" class="form-label">Image URL</label>
    <input
      id="imageUrl"
      type="text"
      class="form-control"
      formControlName="imageUrl"
    />
    <div
      class="error-message-container text-danger"
      *ngIf="
        !form.controls.imageUrl.valid &&
        (form.controls.imageUrl.touched || isFormSubmitted)
      "
    >
      <small *ngIf="form.controls.imageUrl.errors.required"
        >Image URL is required.</small
      >
      <small *ngIf="form.controls.imageUrl.errors.pattern"
        >Invalid image URL format.</small
      >
    </div>
  </div>

  <!-- description field -->
  <div class="form-group">
    <label for="description" class="form-label">Description</label>
    <textarea
      id="description"
      rows="5"
      class="form-control"
      formControlName="description"
    ></textarea>
    <div
      class="error-message-container text-danger"
      *ngIf="
        !form.controls.description.valid &&
        (form.controls.description.touched || isFormSubmitted)
      "
    >
      <small>Description is required.</small>
    </div>
  </div>

  <!-- genre field -->
  <div class="form-group">
    <label for="genre" class="form-label">Genre</label>
    <select
      id="genre"
      formControlName="genre"
      class="form-control"
      (change)="setGenre($event.target.value)"
      (click)="onSelectFieldClicked()"
      #genresSelect
    >
      <option
        *ngFor="let genre of genres"
        [value]="genre"
        [selected]="movieContext?.genre === genre"
      >
        {{ genre }}
      </option>
      <option
        value=""
        *ngIf="!movieContext"
        selected="selected"
        [selected]="true"
        disabled
      >
        Choose Genre
      </option>
    </select>
    <div
      class="error-message-container text-danger"
      *ngIf="
        !form.controls.genre.valid && (isSelectFieldClicked || isFormSubmitted)
      "
    >
      <small>Genre name is required.</small>
    </div>
  </div>

  <!-- relase date field  -->
  <div class="form-group">
    <label for="releaseDate" class="form-label">Release Date</label>
    <input
      id="releaseDate"
      type="date"
      class="form-control"
      formControlName="releaseDate"
    />
    <div
      class="error-message-container text-danger"
      *ngIf="
        !form.controls.releaseDate.valid &&
        (form.controls.releaseDate.touched || isFormSubmitted)
      "
    >
      <small>Release date is required.</small>
    </div>
  </div>

  <!-- seat price fields -->
  <ng-template #seatPriceRequiredValidation let-text="seatType">
    <small>{{ text }} seat price is required.</small>
  </ng-template>
  <ng-template #seatPriceMinValidation
    ><small>Must not be negative number.</small></ng-template
  >

  <div formGroupName="seatPriceFields">
    <!-- basic seat price -->
    <div class="form-group">
      <label for="basicSeatPrice" class="form-label">Basic Seat Price</label>
      <input
        id="basicSeatPrice"
        type="number"
        min="0"
        class="form-control"
        formControlName="basicSeatPrice"
      />
      <div
        class="error-message-container text-danger"
        *ngIf="
          !form.get('seatPriceFields.basicSeatPrice').valid &&
          (form.get('seatPriceFields.basicSeatPrice').touched ||
            isFormSubmitted)
        "
      >
        <ng-template
          *ngIf="form.get('seatPriceFields.basicSeatPrice').errors.required"
          [ngTemplateOutlet]="seatPriceRequiredValidation"
          [ngTemplateOutletContext]="{ seatType: 'Basic' }"
        ></ng-template>
        <ng-template
          *ngIf="form.get('seatPriceFields.basicSeatPrice').errors.min"
          [ngTemplateOutlet]="seatPriceMinValidation"
          [ngTemplateOutletContext]="{ seatType: 'Basic' }"
        ></ng-template>
      </div>
    </div>

    <!-- silver seat price -->
    <div class="form-group">
      <label for="silverSeatPrice" class="form-label">Silver Seat Price</label>
      <input
        id="silverSeatPrice"
        type="number"
        min="0"
        class="form-control"
        formControlName="silverSeatPrice"
      />
      <div
        class="error-message-container text-danger"
        *ngIf="
          !form.get('seatPriceFields.silverSeatPrice').valid &&
          (form.get('seatPriceFields.silverSeatPrice').touched ||
            isFormSubmitted)
        "
      >
        <ng-template
          *ngIf="form.get('seatPriceFields.silverSeatPrice').errors.required"
          [ngTemplateOutlet]="seatPriceRequiredValidation"
          [ngTemplateOutletContext]="{ seatType: 'Silver' }"
        ></ng-template>
        <ng-template
          *ngIf="form.get('seatPriceFields.silverSeatPrice').errors.min"
          [ngTemplateOutlet]="seatPriceMinValidation"
          [ngTemplateOutletContext]="{ seatType: 'Silver' }"
        ></ng-template>
      </div>
    </div>

    <!-- gold seat price -->
    <div class="form-group">
      <label for="goldSeatPrice" class="form-label">Gold Seat Price</label>
      <input
        id="goldSeatPrice"
        type="number"
        min="0"
        class="form-control"
        formControlName="goldSeatPrice"
      />
      <div
        class="error-message-container text-danger"
        *ngIf="
          !form.get('seatPriceFields.goldSeatPrice').valid &&
          (form.get('seatPriceFields.goldSeatPrice').touched || isFormSubmitted)
        "
      >
        <ng-template
          *ngIf="form.get('seatPriceFields.goldSeatPrice').errors.required"
          [ngTemplateOutlet]="seatPriceRequiredValidation"
          [ngTemplateOutletContext]="{ seatType: 'Gold' }"
        ></ng-template>
        <ng-template
          *ngIf="form.get('seatPriceFields.goldSeatPrice').errors.min"
          [ngTemplateOutlet]="seatPriceMinValidation"
          [ngTemplateOutletContext]="{ seatType: 'Gold' }"
        ></ng-template>
      </div>
    </div>
  </div>

  <input type="submit" class="btn btn-outline-success" value="Save" />
  <input type="reset" class="btn btn-outline-danger ml-3" value="Clear" />
</form>
